body {
  font-family: Nixie One;
  letter-spacing: 1px;
  text-align: center;
}
h1 {
  font-family: Bungee Hairline;
  font-size: 38px;
}
h3 {
  font-family: Bungee Hairline;
  font-size: 30px;
  display: inline;
}
.container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  background: #f8fbfc;
}

/*JS Animation 1*/
#cont1 {
  background: #f2f2f2;
  margin: 0 auto;
  width: 500px;
  height: 100px;
  position: relative;
  padding: 8px;
}
#anim1 {
  background: #3bc293;
  width: 50px;
  height: 50px;
  position: absolute;
}

/*CSS Animation*/
#cont2 {
  background: #f2f2f2;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  padding: 8px;
}
.box {
  background: #bbdfe3;
  width: 70px;
  height: 70px;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transform: translate(0, 0);
  transition: transform 500ms;
}
.box.move {
  -webkit-transform: translate(100px, 100px);
  transform: translate(100px, 100px);
}
